@use "../../scss/variables" as var;

.SideNavNormal {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: fixed !important;
  height: 100vh;
  top: 0;
  left: 0;
  min-width: 300px;
  width: 300px;
  background-color: var.$primary-color;
  border-right: 7px solid rgba(177, 183, 152, 0.3);
  z-index: 1000000000000000000;

  .input-group {
    margin: 10px;
  }

  .SideNav-header {
    font-size: 27px;
    margin-bottom: 10px;
  }

  a {
    font-size: 22px;
    margin: 10px 0;
  }
  img {
    height: auto;
    width: 230px;
  }
}

.SideNavSmall {
  padding: 30px;
  background: var.$primary-color;
  opacity: 1;
  z-index: 1000000000000000000;
  height: 100vh;
  min-height: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  animation: appear 0.72s ease forwards;
  overflow: hidden;
  width: 300px;
  border-right: 7px solid rgba(177, 183, 152, 0.3);

  &::before {
    content: "";
    position: fixed;
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.217);
    z-index: -1;
    margin-left: 300px;
    animation: appear-background 0.6s ease forwards;

    @keyframes appear-background {
      from {
        margin-left: 100vw;
      }
      to {
        margin-left: 300px;
      }
    }
  }

  @keyframes appear {
    from {
      margin-left: -300px;
      height: 100vh;
      min-height: -webkit-fill-available;
      position: fixed;
      top: 0;
      left: 0;
    }
    to {
      margin-left: 0px;
      height: 100vh;
      min-height: -webkit-fill-available;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .SideNav-header {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  a {
    font-size: 22px;
    margin: 10px 0;

    img {
      height: auto;
      width: 230px;
    }
  }

  .close-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 150px;
  }
}

// minimized small nav bar
.hamburger-container {
  width: min-content;
  background-color: var.$primary-color;
  height: 100vh;
  min-height: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  width: 63px !important;
  display: flex;
  justify-content: center;
  z-index: 100;
  border-right: 7px solid rgba(177, 183, 152, 0.3);

  @media (max-width: 600px) {
    width: 40px !important;
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

// search results
div {
  position: relative;
  .search-results-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    div {
      color: black;
      padding: 10px;

      &:hover {
        background-color: #0d6dfd5d;
      }
    }
  }
}
