@use "./scss/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

#root {
  background-color: var.$background-color;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.App {
  background-color: var.$background-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var.$primary-color #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var.$primary-color;
  border-radius: 3px;
  border: 0px none #b5abab;
}

body {
  background-color: var.$background-color;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}
